@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  color: black;
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(230, 237, 244);
}

.main {
  width: 1000px;
  background-color: white;
  border: 1px solid black;
  margin: 20px;
  text-align: left;
  font-family: "Inter", sans-serif;
}

header {
  background-color: rgba(158, 187, 220, 1);
  padding: 20px;
  height: 25px;
  text-align: center;
}

.main-section {
  padding: 20px;
}

.projects-section {
  padding: 20px;
  background-color: rgba(158, 187, 220, 1);
  float: left;
}

.work-section {
  padding: 20px;
  background-color: white;
}

.project {
  background-color: white;
  padding: 20px;
  margin: 20px 80px;
  border-radius: 25px;
  width: 750px;
  height: 150px;
  border: 1px solid black;
}

.pic-box {
  height: 100px;
  width: 300px;
  background-color: antiquewhite;
}

.text-box {
  height: 100px;
  width: 500;
  background-color: aquamarine;
}

.project h3 {
  margin-top: 0;
}

.year {
  font-weight: bold;
}

.nav-button {
  background-color: rgba(245, 245, 245, 1);
  height: 20px;
  width: 65px;
  padding: 0px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid black;
}

.nav-button2 {
  border: none;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  text-decoration: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
  background-color: rgba(66, 94, 242, 1);
  height: 25px;
  width: 110px;
  padding: 0px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px 60px;
  cursor: pointer;
}

.button2 {
  background-color: rgba(158, 187, 220, 1);
  height: 25px;
  width: 70px;
  padding: 0px 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 4px;
  cursor: pointer;
}

a:link {
  color: white;
  text-decoration: none;
}

.line {
  width: 750px;
  height: 2px;
  background-color: rgba(224, 224, 224, 1);
  margin: 0px 65px;
}

p {
  font-size: small;
}

.about-me {
  font-weight: bold;
}

footer {
  background-color: white;
  padding: 20px;
  text-align: center;
}
